.titlu
{
	-fx-font-family: "Motion Picture Personal Use";
	-fx-font-size: 50px;
	-fx-alignment: center;
	-fx-pref-width: 175px;
	-fx-text-fill: #2f2fc6;
}

.inputs, .inputs > .text-field, .inputs > .text-area
{
	-fx-font-size:18px;
	-fx-background-color: #46506e;
	-fx-alignment: center;
	-fx-text-fill: white;
	-fx-prompt-text-fill: white;
	-fx-background-radius: 20px;
}

.inputs:focused
{
	-fx-background-color: #7c8dbf;
}



.formular
{
	-fx-spacing:10;
	-fx-alignment: center;
}

.buttons
{
	-fx-font-family: "Times New Roman";
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-background-color: #1e3475;
	-fx-text-fill: white;
	-fx-background-radius: 50px;
}

.buttons:pressed,.buttons:focused,.buttons:hover
{
	-fx-background-color: #4776ff;
}

.links
{
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-text-fill: ba0000;
}

.fundal
{
	-fx-background-image: url("./images/2945.png");
	-fx-background-size: contain;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

.notificationsButton
{
	-fx-background-image: url("./images/clopotel.png");
	-fx-background-color: #4776ff;
	-fx-background-size: 25px 25px;
	-fx-background-repeat: no-repeat;
}

.profilePicture
{
	-fx-background-image: url("./images/default_profile.jpg");
	-fx-pref-width: 100px;
	-fx-pref-height: 100px;
	-fx-background-size: 100px 100px;
}

.nameLabel
{
	-fx-font-size: 28px;
	-fx-font-family: "Times New Roman";
	-fx-padding: 10 10 10 10;
	-fx-font-weight: bold;
}

.sectionTitle
{
	-fx-font-size: 30px;
	-fx-font-family: "Courier New";
	-fx-font-weight: bold;
}

.infoText
{
	-fx-font-size: 25px;
	-fx-font-family: "Times New Roman";
	-fx-padding: 5 5 5 5;
	-fx-text-fill: white;
}

.infoArea, .friendsList
{
	-fx-background-color: #3d6eff;
}

.menuBarLayout
{
	-fx-font-family: "Times New Roman";
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-background-color: #5c85ff;
}

.friendshipStatusLabel
{
	-fx-font-family: "Comic Sans MS";
	-fx-font-weight: bold;
	-fx-font-size: 20px;
	-fx-text-fill: #00004d;
	-fx-padding: 10 10 10 10;
}

.sendMessageButton
{
	-fx-background-image: url("./images/paper_plane-512.png");
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color:transparent;
}

.checkBoxes
{
	-fx-font-size: 16px;
}

.mainTab
{
	-fx-background-color: #0099ff;
	-fx-background-radius: 20px;
	-fx-font-family: "Times New Roman";
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}

.createdByLabel
{
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-font-family: "Courier New";
	-fx-text-fill: #1e9a9e;
}